.oe_import {
    @include o-webclient-padding($top: 8px);
    overflow: auto;
    position: absolute; // Needed for chrome
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include media-breakpoint-down(sm) {
        position: static;
    }

    > p {
        text-align: justify
    }
    h2 {
        margin-top: 0;
        font-size: large; // override h2 font-size which is too large
    }
    .oe_padding {
        padding: 13px 0;
    }

    .oe_import_advanced_mode {
        margin-left: 20px;
    }

    .oe_import_box {
        padding: 8px;
        background: #F0EEEE;
        border-radius: $border-radius;
        border: solid 1px #dddddd;
        label {
            font-weight: normal;
        }
        .oe_import_file {
            display: inline-block;
        }
    }

    a.oe_import_toggle {
        display: block;
        &:before {
            content: '+'
        }
    }
    .oe_import_options {
        margin-top: 8px;
        p {
            margin: 0;
        }
        label {
            width: 150px;
            line-height: 32px;
            text-align: right;
        }
    }
    /* ----------- INITIAL SETUP ------------ */
    dd,
    .oe_import_toggled,
    .oe_import_grid,
    .oe_import_error_report,
    .oe_import_noheaders,
    .oe_import_report_more {
        display: none;
    }

    .oe_import_with_file label {
        font-weight: normal;
    }

    &.oe_import_preview .oe_import_grid {
        display: table;
    }
    &.oe_import_error .oe_import_error_report,
    &.oe_import_noheaders .oe_import_noheaders,
    .oe_import_report_showmore .oe_import_report_more {
        display: block;
    }

    /* ------------- ERRORS AND WARNINGS REPORT ------------ */
    .oe_import_error_report {
        > ul {
            padding: 0;
        }
        .oe_import_report {
            padding: 4px;
            margin: 2px 0;
            list-style: none;
            border-radius: $border-radius;
            &.bg-error {
                @extend .bg-danger;
            }
            &.text-error {
                @extend .text-danger;
            }
        }
    }

    /* ------------- THE CSV TABLE ------------ */
table tbody { display:block; max-height:450px; overflow-y:scroll; overflow-x: hidden; }
table thead, table tbody tr { display:table; width:100%; }
table thead, table tbody td { min-width: 384px; text-overflow: ellipsis; }

.ellipsis_without_space{
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 384px;
    white-space: nowrap;
    word-wrap: break-word;
}
.ellipsis_with_space{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.2em;
    max-width: 384px;
    max-height: 3.6em;
    word-wrap: break-word;
}

    .oe_import_grid {
        tr {
            &.oe_import_grid-header:first-child {
                line-height: 24px;
                font-weight: normal;
                position: relative;
                overflow: auto;
            }
            td,th {
                padding: 4px;
                vertical-align: top;
                }
            }
        }

    /* Default Color for placeholder on import fields*/
    .select2-default{
        color: #F00 !important;
    }
}

/* Field dropdown */
.oe_import_selector {
    font-size: $font-size-sm;
    ul, li {
        margin: 0; padding: 0;
    }
    width: 250px !important;
}

.o-list-buttons.o-editing .o_button_import {
    display: none; // hidden for list view editable
}
