//
// Global
//

// Texts
font[style*='background'],
font[class*='bg-'] {
    padding: 2px 6px;
}


.lead {
    font-size: 1.75rem;
}


// Blockquotes
.blockquote {
    font-size: 1rem;
    footer {
        background-color: inherit;
    }
}

// Buttons
#wrapwrap [class*='s_'] .btn {
    .fa {
        vertical-align: middle;
    }
}

// Background Images
.oe_img_bg {
    background-size: cover;
    background-repeat: no-repeat;

    &.o_bg_img_opt_contain {
        background-size: contain;
        background-position: center center;
    }
    &.o_bg_img_opt_custom {
        background-size: auto;
    }
    &.o_bg_img_opt_repeat {
        background-repeat: repeat;
    }
    &.o_bg_img_opt_repeat_x {
        background-repeat: repeat-x;
    }
    &.o_bg_img_opt_repeat_y {
        background-repeat: repeat-y;
    }
}

// Lists
.o_ul_toggle_self,
.o_ul_toggle_next {
    display: none;
}

.o_ul_folded {
    .o_close {
        display: none!important;
    }
    .o_ul_toggle_self,
    .o_ul_toggle_next {
        display: inline-block;
        line-height: inherit;
        float: left;
        position: relative;
        margin-left: -1em;
        top: -0.15em;
        left: 0.2em;
        font-size: 1.4em;
        text-decoration: none;
        &.o_open:before {
            content: "";
        }
        &:before {
            content: "";
        }
    }
}

.carousel, .parallax, .blockquote {
    overflow: hidden;
}
@media (max-width: 400px) {
    section, .parallax, .row, .hr, .blockquote {
        height: auto !important;
    }
}

// Table
.table_desc {
    margin: 0 0 20px 0;
    width: 100%;
    word-break: break-all;
    border: 1px solid #dddddd;
}
.table_heading {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    color: #666666;
    font-size: 14px;
    padding: 4px;
}
table.table_desc tr td {
    text-align: left;
    padding: 5px;
    font-size: 13px;
    &:first-child {
        width: 25%;
        font-weight: bold;
        border-bottom: 1px solid #c9c9c9;
        border-right: 1px solid #c9c9c9;
        border-left: none;
    }
    &:last-child {
        border-bottom: 1px solid #c9c9c9;
    }
}

// Icons

main [class*="s_"] {
    $o_icons_base_size: 2rem;
    .fa {
        &.rounded-circle, // circle
        &.rounded, // border-radius
        &.rounded-0, // square
        &.rounded-leaf,
        &.img-thumbnail,
        &.shadow {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            // .fa-1x is not output
            width: $o_icons_base_size;
            height: $o_icons_base_size;
            line-height: $o_icons_base_size;
            @for $i from 1 through 5 {
                &.fa-#{$i}x {
                    width: ($o_icons_base_size * $i);
                    height: ($o_icons_base_size * $i);
                    line-height: ($o_icons_base_size * $i);
                }
            }
            &:not([class*="bg-"]) {
                background-color: $gray-100; // Default Background Color
            }
        }
        &.img-thumbnail {
            padding: 0;
        }
    }
    img.rounded-circle {
        clip-path: circle(33% at center); // TODO
    }
    .rounded-leaf {
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
}

$enable-gradients: true;
@each $color, $value in $theme-colors {
  .btn-flat-#{$color} {
    @include button-variant($value, $value);
  }
  .btn-rounded-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-rounded-#{$color} {
    @include button-outline-variant($value);
  }
}

@each $color, $value in $theme-colors {
  .btn-3d-#{$color} {
    @include gradient-bg($value);
    color: color-yiq($value);
  }
}


.btn {
    @include button-size(0.5rem, 1rem, $font-size-base, $btn-line-height, $btn-border-radius);
    &.btn-lg { @include button-size(1rem, 2rem, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg); }
    &.btn-sm { @include button-size(0.25rem, 0.5rem, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm); }
    &.btn-xs { @include button-size(0.15rem, 0.3rem, ($font-size-base * .75), $btn-line-height-sm, $btn-border-radius-sm); }

    &[class*="btn-3d-"]{
        border: 0;
    }

    &[class*="btn-outline-"],
    &[class*="btn-outline-rounded"] {
        background-color: transparent;
        border-width: 2px;
    }
    &[class*="btn-flat-"] {
        border: 0;
        border-radius: 0;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 80%;
    }
    &[class*="btn-rounded-"],
    &[class*="btn-outline-rounded"]{
        border-radius: 30px;
    }
}

// .btn-lg {
//   @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
// }
//
// .btn-sm {
//   @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
// }

//
// Snippets
//

// Title
$s_title_transparent-opacity: .5;
$s_title_thin-font-weight: 300;


[class*="s_title_"] {
    padding: 0;
    margin: 0;
}
.s_title_boxed {
    display: inline-block;
    padding: $grid-gutter-width;
    border: 1px solid;
    // TODO - currentColor?
    border-color: inherit;
}
.s_title_lines {
    overflow: hidden;
    &:before,
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        border-top: 1px solid;
        border-top-color: inherit;
    }
    &:before { margin: 0 $grid-gutter-width/2 0 -100%; }
    &:after  { margin: 0 -100% 0 $grid-gutter-width/2; }
}
.s_title_underlined {
    padding-bottom: $grid-gutter-width/3;
    border-bottom: 1px solid;
}
.s_title_uppercase {
    text-transform: uppercase;
}
.s_title_transparent {
    opacity: $s_title_transparent-opacity;
}
.s_title_thin {
    font-weight: $s_title_thin-font-weight;
}

// Fatures + Features Grid
.s_features_grid {
    &_content {
        overflow: hidden;
    }
    &_icon {
        float: left;
        margin-right: $grid-gutter-width/2;
    }
}

.s_alert {
    @include clearfix;
    margin: $grid-gutter-width/2 0;
    border: 1px solid;
    border-radius: 0.25rem;
    p, ul, ol {
        &:last-child {
            margin-bottom: 0;
        }
    }
    &_sm {
        padding: $grid-gutter-width/3;
        font-size: $font-size-sm;
    }
    &_md {
        padding: $grid-gutter-width/2;
        font-size: $font-size-base;
    }
    &_lg {
        padding: $grid-gutter-width;
        font-size: $font-size-lg;
    }
    &_icon {
        float: left;
        margin-right: 10px;
    }
    &_content {
        overflow: hidden;
    }
}

// Card

.s_card {
    margin: $grid-gutter-width 0;
    .card-body {
        // color: initial;
        p, ul, ol {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


// Comparisons
.s_comparisons {
    .card-body {
        .card-title {
            margin: 0;
        }
        .s_comparisons_currency,
        .s_comparisons_price,
        .s_comparisons_decimal {
            display: inline-block;
            vertical-align: middle;
        }
        .s_comparisons_currency,
        .s_comparisons_decimal {
            font-size: 80%;
        }
        .s_comparisons_price {
            font-size: 200%;
        }
    }
    .list-group-item {
        color: $body-color;
    }
}

// FAQ
.s_faq_collapse {
    .card {
        margin-bottom: .5em;
        .card-header {
            padding: 0;
            .card-title { margin: 0; }
            a {
                cursor: pointer;
                display: inline-block;
                width: 100%;
                padding: .5em 0;
                &:before {
                    content:'\f056';
                    font-family: 'FontAwesome';
                    display: inline-block;
                    margin: 0 .5em 0 .75em;
                    color: inherit;
                }
                &.collapsed:before {
                    content:'\f055';
                    font-family: 'FontAwesome';
                }
            }
        }
        .card-body {
            padding: 1em 2.5em;
        }
    }
    .card-body p:last-child,
    .card-body ul:last-child {
        margin-bottom: 0;
    }
}


// References
.s_references .img-thumbnail {
    border: none;
}

// carousel
.s_banner .carousel-inner {
    // Content
    overflow: hidden;
    height: 100%;
    .item {
        height: 100%;
    }
}
.s_banner,
.s_quotes_slider {
    // Controls
    .carousel-control-prev,
    .carousel-control-next {
        cursor: pointer;
        width: 10%;
        &:hover {
            opacity: 1;
        }
    }
    .carousel-control-prev { justify-content: flex-start; }
    .carousel-control-next { justify-content: flex-end; }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        @include box-shadow($box-shadow-lg);
        background-color: #fff;
        background-image: none;
        color: $body-color;
        font-size: 1.25em;
        &:before {

            &:hover,
            &:focus {
                color: $primary;
            }
        }
    }
    .carousel-control-prev-icon { margin-right: 5px; }
    .carousel-control-next-icon { margin-left: 5px; }
    // Indicators
    .carousel-indicators {
        cursor: pointer;
        margin-bottom: 0;
        li {
            // @extend .shadow-sm;
            @include size(15px);
            &:hover:not(.active) {
                background-color: rgba(255,255,255,.8);
            }
        }
    }
}


div.carousel .container {
    .carousel-img img,
    .carousel-content {
        max-height: 95%;
        padding: 10px;
    }
    > .carousel-caption {
        @include o-position-absolute($right: 50%, $left: 50%);
        bottom: 20px;
        > div {
            position: absolute;
            text-align: left;
            padding: 20px;
            background: rgba(0, 0, 0, 0.4);
            bottom: 20px;
        }
    }
    > .carousel-image {
        @include o-position-absolute($top: 5%, $bottom: 5%);
        max-height: 90%;
        margin: 0 auto;
    }
    .item.text_image .container {
        > .carousel-caption {
            left: 10%;
            > div {
                right: 50%;
                margin-right: -20%;
                max-width: 550px;
            }
        }
        > .carousel-image {
            right: 10%;
            left: 50%;
        }
    }
    .item.image_text .container {
        > .carousel-caption {
            right: 10%;
            > div {
                left: 50%;
                margin-left: -20%;
                max-width: 550px;
            }
        }
        > .carousel-image {
            right: 50%;
            left: 10%;
        }
    }
    .item.text_only .container {
        > .carousel-caption {
            left: 10%;
            right: 10%;
            top: 10%;
            bottom: auto;
            > div {
                text-align: center;
                background: transparent;
                bottom: auto;
                width: 100%;
            }
        }
        > .carousel-image {
            display: none !important;
        }
    }
}

// Quotes Slider
.s_quotes_slider {
    blockquote {
        padding: $grid-gutter-width;
        border-left-color: $primary;
        img {
            max-width: 40px;
            margin-right: 5px;
            border-radius: 50%;
        }
        footer {
            background-color: transparent;
            &:before {
                content:"";
            }
        }
    }
}

// Gallery
.o_gallery {
    &.o_grid, &.o_masonry {
        .img {
            width: 100%;
        }
    }
    &.o_grid {
        &.o_spc-none div.row {
            margin: 0;
            > div {
                padding: 0;
            }
        }
        &.o_spc-small div.row {
            margin: 5px 0;
            > div {
                padding: 0 5px;
            }
        }
        &.o_spc-medium div.row {
            margin: 10px 0;
            > div {
                padding: 0 10px;
            }
        }
        &.o_spc-big div.row {
            margin: 15px 0;
            > div {
                padding: 0 15px;
            }
        }
        &.size-auto .row {
            height: auto;
        }
        &.size-small .row {
            height: 100px;
        }
        &.size-medium .row {
            height: 250px;
        }
        &.size-big .row {
            height: 400px;
        }
        &.size-small, &.size-medium, &.size-big {
            img {
                height: 100%;
            }
        }
    }
    &.o_masonry {
        &.o_spc-none div.col {
            padding: 0;
            > img {
                margin: 0 !important;
            }
        }
        &.o_spc-small div.col {
            padding: 0 5px;
            > img {
                margin: 5px 0 !important;
            }
        }
        &.o_spc-medium div.col {
            padding: 0 10px;
            > img {
                margin: 10px 0 !important;
            }
        }
        &.o_spc-big div.col {
            padding: 0 15px;
            > img {
                margin: 15px 0 !important;
            }
        }
    }
    &.o_nomode {
        &.o_spc-none .img {
            padding: 0;
        }
        &.o_spc-small .img {
            padding: 5px;
        }
        &.o_spc-medium .img {
            padding: 10px;
        }
        &.o_spc-big .img {
            padding: 15px;
        }
    }
    &.o_slideshow {
        .carousel ul.carousel-indicators li {
            border: 1px solid #aaa;
        }
        > .container {
            height: 100%;
        }
    }
    .carousel-inner .item img {
        max-width: none;
    }
}
.o_gallery,
.modal-body {
    &.o_slideshow {
        .carousel {
            height: 100%;
            .item {
                padding-bottom: 64px;
            }
            img {
                max-height: 100%;
                max-width: 100%;
                margin: auto;
            }
            ul.carousel-indicators {
                display: block;
                height: auto;
                padding: 0;
                border-width: 0;
                position: absolute;
                bottom: 0;
                > * {
                    list-style-image: none;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    margin: 0 0px 5px 5px;
                    padding: 0;
                    border: 1px solid #aaa;
                    text-indent: initial;
                    background-size: cover;
                    background-color: #fff;
                    border-radius: 0;
                    &:not(.active) {
                        opacity: 0.8;
                        -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
                        filter: gray;
                        filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
            .carousel-control {
                &.right, &.left {
                    background-image: none;
                    background-color: transparent;
                }
            }
        }
    }
}

// Parallax
.parallax {
    position: relative;
    z-index: 0;
    .s_parallax_content {
        position: relative;
    }
    > .s_parallax_bg {
        @include o-position-absolute(0, 0, 0, 0);
        background-size: cover;
        background-attachment: scroll;
        pointer-events: none;
    }
    &.s_parallax_is_fixed > .s_parallax_bg {
        background-attachment: fixed;
    }
}

// Company Team
.s_company_team {
    @include media-breakpoint-down(md) {
        img {
            max-width: 50%;
        }
    }
}

// HR
.s_hr {
    line-height: 0;
    hr {
        // display: inline-block;
        padding: 0;
        border: 0;
        border-top-color: inherit;
        margin: 0;
    }
    // Style
    .s_hr_dashed { border-top-style: dashed; }
    .s_hr_double { border-top-style: double; }
    .s_hr_dotted { border-top-style: dotted; }
    .s_hr_solid  { border-top-style: solid;  }
    // Thickness
    $count: 5;
    $base-width: 1px;
    @while $count > 0 {
        .s_hr_#{$base-width * $count} {
            border-top-width: $base-width * $count;
        }
        $count: $count - 1;
    }
}

// Share
.s_share {
    > * {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 0 0;
    }
}


// Rating
.s_rating {
    $star: "\f005";
    $star-o: "\f006";
    $square: "\f0c8";
    $square-o: "\f096";
    $heart: "\f004";
    $heart-o: "\f08a";
    @mixin s_rating_generate_icons($off, $on) {
        .fa:before {
            content: $off;
        }
        @for $counter from 5 to 0 {
            &.s_hr_rating_#{$counter} {
                .fa:nth-of-type(-n+#{$counter}):before {
                    content: $on;
                }
            }
        }
    }
    > .s_rating_stars   { @include s_rating_generate_icons($star-o, $star);     }
    > .s_rating_squares { @include s_rating_generate_icons($square-o, $square); }
    > .s_rating_hearts  { @include s_rating_generate_icons($heart-o, $heart);   }
    > .s_rating_bar {
        .fa {
            display: none;
        }
        .s_rating_bar {
            height: 20px;
            padding: 1px;
            background-color: $gray-300;
            @include box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
            border-radius: $border-radius;
            &:before {
                content: "";
                border-radius: 2px;
                @include gradient-striped();
                background-size: 40px 40px;
                background-color: $primary;
                display: block;
                @include size(0, 100%);
                animation: progress-bar-stripes $progress-bar-animation-timing;
            }
        }
        @for $counter from 5 to 0 {
            &.s_hr_rating_#{$counter} {
                .s_hr_rating_bar:before {
                    width: percentage($counter/5);
                }
            }
        }
    }
    > .s_rating_1x { .fa { font-size: 1em; }; }
    > .s_rating_2x { .fa { font-size: 2em; }; }
    > .s_rating_3x { .fa { font-size: 3em; }; }
}

//
// Layout
//

// Header
#wrapwrap .o_header_affix {
    @include o-position-absolute(0, 0, auto, 0);
    position: fixed;
    z-index: $zindex-modal - 20;
    background: $light;
    margin-top: -200px;
    transition: margin-top 500ms ease 0s;
    &.affixed {
        margin-top: 0px;
    }
}
#oe_main_menu_navbar + #wrapwrap .o_header_affix {
    top: $o-navbar-height;
}

// Navbar
.navbar .o_extra_menu_items.show > ul {
    > li {
        + li {
            border-top: 1px solid gray('200');
        }
        > a.dropdown-toggle {
            background-color: gray('200');
            color: inherit; // Useful when the toggle is active
            pointer-events: none; // hack to prevent clicking on it because dropdown always opened
        }
        > ul { // remove dropdown-menu default style as it is nested in another one
            position: static;
            float: none;
            display: block;
            max-height: none;
            margin-top: 0;
            padding: 0;
            border: none;
            box-shadow: none;
        }
    }
}

// Copyright
.o_footer_copyright {
    padding: 8px;
    .js_language_selector {
        display: inline-block;
    }
    @include media-breakpoint-up(md) {
        .row {
            display: flex;
            > div {
                margin: auto 0;
            }
        }
    }
}
