@o-chat-window-bg: #F3F3F3;
@o-chat-window-width: 300px;

.o_chat_window {
    .o-flex-display();
    .o-flex-flow(column, nowrap);
    position: fixed;
    width: @o-chat-window-width;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    font-size: 12px;
    background-color: @o-chat-window-bg;
    z-index: 3;
    border-radius: 4px 4px 0px 0px;

    @media (max-width: @screen-xs-max) {
        width: 100%;
        height: 100%!important;
        border-radius: 0px;
        &.o_folded {
            display: none;
        }
    }

    @media print {
        display: none;
    }

    .o_chat_header {
        .o-flex-display();
        .o-flex(0, 0, auto);
        color: white;
        background-color: @odoo-brand-primary;
        padding: 0px 5px;
        border-radius: 4px 4px 0px 0px;
        border-bottom: 2px solid @o-chat-window-bg;

        @media (max-width: @screen-xs-max) {
            height: @navbar-height;
            border-radius: 0px;
            padding-top: 5px;
            .o_chat_window_close {
                font-size: 16px;
                padding: 5px;
                margin-top: 0px;
            }
        }

        .o_chat_title {
            cursor: pointer;
            font-size: 13px;
            font-weight: bold;
            padding: 5px;
            .o-flex(1, 1, auto);
            .o-text-overflow();

            .o_last_seen_on {
                font-weight: normal;
                font-size: 10px;
            }
        }

        .o_chat_window_close, .o_chat_window_expand {
            color: white;
            padding: 7px;
            margin-top: 2px;
            &:hover {
                background-color: darken(@odoo-brand-primary, 10%);
            }
        }
    }

    .o_mail_thread {
        .o-flex(1, 1, auto);
        overflow: auto;

        .o_thread_date_separator {
            margin-top: 0px;
            margin-bottom: 15px;
            border-color: lightgray;
            .o_thread_date {
                background-color: @o-chat-window-bg;
            }
        }
        .o_thread_message {
            padding: 4px 0px;

            .o_thread_message_sidebar {
                margin-left: 5px;
                .o_thread_message_side_date {
                    padding-right: 40px;
                }
            }
            .o_thread_message_core {
                margin-right: 5px;
                p {
                    padding: 0px;
                    margin: 0px 0px 5px 0px;
                }

                .o_mail_timestamp {
                    font-size: 9px;
                }
            }


            .o_thread_message_attachment {
                display: block;
                position: relative;
                background: @o-chat-window-bg;
                width: 200px;
                margin-left: 5px;
                margin-right: auto;
                margin-top: 15px;

                &.o_self_message_attachments {
                    margin-left: auto;
                    margin-right: 5px;

                    .o_thread_attachment {
                        .o_attachment_name {
                            padding-right: 30px;
                            padding-left: 5px;
                       }
                    }

                    .o_author_image {
                        right: 5px;
                        left: inherit;
                    }
                }
                .o_author_image {
                    position: absolute;
                    bottom: 8px;
                    left: 5px;
                    border-radius: 30px;

                    img {
                        border-radius: 30px;
                        width: 20px;
                        height: 20px;
                    }
                }

                .o_thread_attachment {
                    display: block;
                    position: relative;
                    min-height: 150px;
                    margin-bottom: 5px;
                    &:first-child {
                        border-top: 2px solid #eee;
                    }
                    &:last-child {
                        border-bottom: 2px solid #eee;
                        margin-bottom: 0px;
                    }

                    .o_attachment_name {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        font-size: 11px;
                        font-weight: bold;
                        color: #fff;
                        background-color:rgba(0,0,0,0.3);
                        padding: 5px;
                        padding-left: 30px;
                        display: block;
                    }

                    .o_image_view , a{
                        cursor: pointer;
                        background-color: #000;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top:0;
                        left:0;
                        object-fit: none; /* Do not scale the image */
                        object-position: center; /* Center the image within the element */
                    }

                }
            }

            .o_self_message {
                background: @odoo-brand-primary;
                margin: 0px;
                margin-right: 5px;
                max-width: 95%;
                width: auto;
                margin-left: auto;
                flex: inherit;
                border-radius: 15px;
                display: inline-block;
                float: right;
                color: white;
                padding: 10px 15px;

                p {
                    line-height: 1.3;
                }

                .o_mail_timestamp {
                    color: #ebebeb;
                    float: right;
                }

                .o_attachment {
                    display: block;
                    width: 200px;
                    height: auto;
                    .o_image_preview, .o_image {
                        border-radius: 4px;
                        padding: 5px;
                        padding-bottom: 0px;
                        border: 1px solid #ccc;
                    }
                    .o_image_preview {
                        background: #ebebeb;
                    }
                    .o_image {
                        background-color: #ebebeb;
                        display: block;
                        position: inherit;
                        width: 100px;
                        height: 100px;
                        padding-bottom: 20px;
                        >.o_attachment_name {
                            margin-top: 80px;
                        }
                    }

                    .o_attachment_name {
                        color: #414141;
                        margin-top: 0px;
                        font-weight: 600;
                        max-width: none;
                        padding: 5px;
                        font-size: 12px;
                    }
                }
            }

            .o_thread_message_sidebar {
                margin-right: 5px;
            }

            &.o_sender_message {
                .o_thread_message_avatar {
                    border-radius: 30px;
                    max-width: 40px;
                }
                .o_thread_message_core {
                    background: #cccccc;
                    margin-right: auto;
                    flex: inherit;
                    border-radius: 15px;
                    padding: 10px 15px;
                    color: #414141;

                    .o_mail_info {
                        color: #414141;
                    }
                }
            }
        }
    }

    .o_chat_composer {
        .o-flex(0, 0, auto);
        > input {
            padding: 5px;
            width: 100%;
        }
    }
}

.o_chat_window_dropdown {
    width: auto;
    height: 28px;
    color: white;
    background-color: @odoo-brand-primary;
    cursor: pointer;

    @media (max-width: @screen-xs-max) {
        display: none;
    }

    .o_chat_window_dropdown_toggler {
        padding: 5px;

        .o_total_unread_counter {
            .o-position-absolute(-10px, 0, auto, auto);
            background-color: @odoo-brand-optional;
            padding: 0 2px;
            font-size: smaller;
        }
    }
    &.open .o_chat_window_dropdown_toggler .o_total_unread_counter {
        display: none;
    }

    > ul {
        max-width: @o-chat-window-width;
        padding: 0;

        > li.o_chat_header {
            font-size: 12px;
            padding: 3px 5px;
            &~li.o_chat_header {
                border-top: 1px solid white;
            }
            &:hover {
                background-color: darken(@odoo-brand-primary, 10%);
                color: white;
            }
        }
    }
}

.o_ui_blocked .o_chat_window {
    z-index: 1101; // blockUI's z-index is 1100
}
.o_no_chat_window .o_chat_window {
    display: none;
}
