.o_form_sheet {
    $o-hrs-timeline-entry-padding: 0.5rem;
    $o-hrs-timeline-dot-size: 0.6rem;

    .o_data_row td {
        padding: $o-hrs-timeline-entry-padding;

        .o_resume_line_title, .o_resume_line_dates {
            line-height: 1;
        }

        &.o_resume_timeline_cell {
            div {
                @include size($o-hrs-timeline-dot-size);
            }

            &:before {
                @include o-position-absolute(0, $left: ($o-hrs-timeline-dot-size*0.5 + $o-hrs-timeline-entry-padding));
                @include size(1px, 100%)
                margin-left: -0.01rem;;
                content: "";
                background-color: $border-color;
            }
        }
    }

    .o_resume_group_header + .o_data_row .o_resume_timeline_cell:before {
        top: $o-hrs-timeline-entry-padding;
    }

    .o_data_row.o_data_row_last .o_resume_timeline_cell:before {
        height: $o-hrs-timeline-entry-padding;
    }

    .o_row_handle, .o_list_record_remove {
        @include o-hover-opacity();
    }
    .o_list_record_remove button {
        @include o-hover-text-color($hover-color: theme-color('danger'));
    }

    // Skills header
    .o_group_skills th.o_group_name {
        background-color: $gray-200;
    }

    // Progressbar Customuzaions
    .o_skill_progress {
        .o_progress {
            height: 5px;
            border: 0;
            background: $gray-300;
        }

        .o_progressbar_value {
            font-weight: bold;
            font-size: $font-size-sm;
            width: auto;
        }
    }

    // =========  Read-mode only ===========
    .o_form_view.o_form_readonly & {
        .o_group_resume .o_list_view, .o_group_skills .o_list_view{
            cursor: auto;
        }

        .o_data_cell.o_list_number.o_handle_cell {
            display: none;
        }
    }

    // =========  Edit-mode only ===========
    .o_form_view.o_form_editable & {
        // Disable headers and 'Add new' hover effect
        tr.o_resume_group_header:hover, tr.o_resume_group_utilities:hover {
            background: none!important;
            cursor: auto;
        }

        tr.o_data_row.ui-sortable-helper {
            background-color: transparent;

            td.o_resume_timeline_cell > div {
                background-color: theme-color("warning")!important;
            }

            td.o_resume_timeline_cell:before, .o_list_record_remove {
                display: none;
            }

            .o_row_handle {
                margin-left: 0.5rem;
            }

            .o_data_cell {
                background-color: rgba(white, 0.9);
            }
        }

        tr.ui-sortable-placeholder {
            visibility: visible!important;
            box-shadow: inset 0 0 0 1px theme-color('info');

            > td {
                background: rgba(theme-color('info'), 0.5);
            }
        }

        .o_group_skills .o_resume_group_utilities td {
            padding: 0 0 $o-hrs-timeline-entry-padding;
            background: white;
        }
    }
}
