<!DOCTYPE html>
<form id="change_db_password" name="change_pwd_form" class="form-horizontal">

    <h3>
        <span class="oe_view_title_text oe_breadcrumb_title">Change Master Password</span>
    </h3>
    <div class="form-group">
        <label for="old_pwd" class="col-sm-3 control-label">Master password:</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" required name="old_pwd" minlength="1" autofocus="true">
        </div>
    </div>
    <div class="form-group">
        <label for="new_pwd" class="col-sm-3 control-label">New master password:</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" required name="new_pwd" minlength="1">
        </div>
    </div>
    <div class="form-group">
        <label for="confirm_pwd" class="col-sm-3 control-label">Confirm master password:</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" required name="confirm_pwd" minlength="1" equalTo="input[name=new_pwd]">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn btn-default db-change-password">Change Password</button>
        </div>
    </div>
</form>
