
.btn-group > .btn {
    font-size: 12px;
}

#chart svg {
    height: 15em;
}

.o_partner_dashboard_section{
    background-color: #fff;
    padding: 30px;
}

.o_partner_dashboard_img{
    max-width: 100px;

    img{
        max-width: 100%;
    }
}

.o_partner_info_box_title{
    background-color:silver;
    padding: 5px;
}


.o_partner_dashboard_grade_active_bronze{
    background-color: rgb(27, 185, 154);
}

.o_partner_dashboard_grade_active_silver{
    background-color: rgb(204, 217, 224);
}

.o_partner_dashboard_grade_active_gold{
    background-color: rgb(244, 227, 177);
}

.o_partner_dashboard_grade_inactive{
    // background-color:#dcdcdc;
}

.o_partner_dashboard_grade_active {
    background-color: @o-violet-dark;
    border-color: @o-violet-dark;
    color: #fff;
}

// .o_partner_dashboard_big_text{
//     font-size: 48px;
//     float: left;
// }

.fa-file-o{
    margin-right: 5px;
}

th, td{
    text-align: center;
    vertical-align: text-top;
}