.o_partner_dashboard_img{
    max-width: 100px;

    img{
        max-width: 100%;
    }
}

.o_partner_dashboard_section{
    margin-bottom: 5%;
}

.o_partner_dashboard_grade_active_bronze{
    background-color: rgb(27, 185, 154);
}

.o_partner_dashboard_grade_active_silver{
    background-color: rgb(204, 217, 224);
}

.o_partner_dashboard_grade_active_gold{
    background-color: rgb(244, 227, 177);
}

.o_partner_dashboard_grade_inactive{
    background-color:#dcdcdc;
}

.o_partner_dashboard_grade_active{
    color: white;
    background-color: #875A7B;
}

.o_partner_dashboard_big_text{
    font-size: 200%;
}

.fa-file-o{
    margin-right: 5px;
}

th, td{
    text-align: center;
}